# Data Formats Code Refinery

In [1]:
import pandas as pd
import numpy as np

n_rows = 100000

dataset = pd.DataFrame(
    data={
        'string': np.random.choice(('apple', 'banana', 'carrot'), size=n_rows),
        'timestamp': pd.date_range("20130101", periods=n_rows, freq="s"),
        'integer': np.random.choice(range(0,10), size=n_rows),
        'float': np.random.uniform(size=n_rows),
    },
)

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   string     100000 non-null  object
 1   timestamp  100000 non-null  datetime64[ns]
 2   integer    100000 non-null  int64
 3   float      100000 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 3.1+ MB

In [2]:
n = 1000

data_array = np.random.uniform(size=(n,n))
np.info(data_array)

class:  ndarray
shape:  (1000, 1000)
strides:  (8000, 8)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  False
data pointer: 0x2ad090180010
byteorder:  little
byteswap:  False
type: float64

In [3]:
import pickle

with open('data_array.pickle', 'wb') as f:
    pickle.dump(data_array, f)

with open('data_array.pickle', 'rb') as f:
    data_array_pickle = pickle.load(f)

In [11]:
TestData = [0, 4, 5, 3]
print(TestData)

[0, 4, 5, 3]

In [12]:
with open('data_array.pickle', 'wb') as f:
    pickle.dump(TestData, f)

In [13]:
with open('data_array.pickle', 'rb') as f:
    data_array_pickle = pickle.load(f)

In [14]:
print(data_array_pickle)

[0, 4, 5, 3]

In [16]:
dataset.to_csv('dataset.csv', index=False)

dataset_csv = pd.read_csv('dataset.csv')

In [17]:
import numpy as np
test_number = np.sqrt(2)
# Write the number in a file
test_file = open('sqrt2.csv', 'w')
test_file.write('%f' % test_number)
test_file.close()
# Read the number from a file
test_file = open('sqrt2.csv', 'r')
test_number2 = np.float64(test_file.readline())
test_file.close()
# Calculate the distance between these numbers
print(np.abs(test_number - test_number2))

4.376269049366499e-07

In [19]:
import pandas as pd
import numpy as np

n_rows = 100000

dataset = pd.DataFrame(
    data={
        'string': np.random.choice(('apple', 'banana', 'carrot'), size=n_rows),
        'timestamp': pd.date_range("20130101", periods=n_rows, freq="s"),
        'integer': np.random.choice(range(0,10), size=n_rows),
        'float': np.random.uniform(size=n_rows),
    },
)

In [20]:
dataset.to_csv('dataset.csv', index=False)

dataset_csv = pd.read_csv('dataset.csv')

In [21]:
dataset.compare(dataset_csv)

          float
           self     other
1      0.094062  0.094062
9      0.024363  0.024363
11     0.344067  0.344067
15     0.946161  0.946161
16     0.013425  0.013425
...         ...       ...
99991  0.328379  0.328379
99992  0.065157  0.065157
99993  0.396506  0.396506
99996  0.965506  0.965506
99998  0.275232  0.275232

[35948 rows x 2 columns]

In [24]:
Difference = dataset["float"] - dataset_csv["float"]

In [25]:
Difference

0        0.000000e+00
1        2.775558e-17
2        0.000000e+00
3        0.000000e+00
4        0.000000e+00
             ...
99995    0.000000e+00
99996    1.110223e-16
99997    0.000000e+00
99998    5.551115e-17
99999    0.000000e+00
Name: float, Length: 100000, dtype: float64

In [26]:
np.save('data_array.npy', data_array)
data_array_npy = np.load('data_array.npy')